body {
    background: #2c2c2c;
}

aside .logo {
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
    position: relative;
    top: 3px;
}

aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 60px;
    float: left;
}

aside h4 {
    margin-top: 50px;
    font-size: 30px;
}

aside ul{
    list-style: none;  /* убирает точки у списка */
}

aside ul li {
    display: block;
    color: #fff;
    margin-top: 20px;
    transition: transform .6s ease;  /* добавляет плавности при наведении на ссылку */
}

aside ul li:hover, aside ul a:hover {  /* псевдоскласс для эффектов при наведении' */
    color: #eb5959;
    text-decoration: none ;
    transform: scale(1.05);  /* увеличивание текста при наведении */
}

a {
    text-decoration: none ;
}

main .features {
    color: #fff;
    float: left;
    text-align: center;
    width: 75%;
    margin-top: 100px;
}

main .features h1 {
    font-size: 50px;
}

main .features p {
    width: 400px;
    margin: 20px auto;  /* отступы сверху и снизу, а по бокам автоматические */
}
