<!-- ПРОСТРАНСТВО ДЛЯ ТЕСТИРОВАНИЯ НОВЫХ ФИЧ -->

<!-- наследуем код из определенного файла -->
{% extends 'main/layout.html' %}

<!-- блок заголовка -->
{% block title %} {{ title }} {% endblock %}

<!-- блок тела файла -->
{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>This page will be space for testing different new things in programming</p>
        <button class="btn btn-secondary">Black hole</button>

        {% include 'main/test.html' %}  <!-- выводим данные из отдельного файла -->
        {{ values }}  <!-- выводим весь массив из словаря -->

        {% for i in elements %}  <!-- выводим элементы массива из словаря отдельно -->
            <p>{{ i }}</p>
        {% endfor %}

        {{ colors }}  <!-- выводим весь словарь -->

        {{ colors.black }}  <!-- выводим конкретное значение словаря по ключу -->

        {% for j in colors %}  <!-- выводим все ключи словаря -->
            <p>{{ j }}</p>
        {% endfor %}

        {% for i in elements %}  <!-- пишем условие для вывода значения из словаря -->
            {% if i == 'apple' %}
                <p>{{ i }}</p>
            {% endif %}
        {% endfor %}

        {% for i in elements %}  <!-- используем фильтр -->
            {% if i == 'microsoft' %}
                {% filter upper %}
                    <p>{{ i }}</p>
                {% endfilter %}
            {% endif %}
        {% endfor %}

        {% for i in elements %}  <!-- используем фильтр - другой способ-->
            {% if i == 'facebook' %}
                <p>{{ i|upper }}</p>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

