<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <ul>
        <li><a href="{% url 'home' %}"> Главная страница </a></li>
        {% for j in menu %}
            {% if not forloop.last %} <li> {% else %} <li class="last"> {% endif %}
                 <p><a href="{% url j.page_name %}"> {{ j.title }} </a></p>
            </li>
        {% endfor %}
    </ul>

    <h1>{{ title }}</h1>

    <ul>
        {% for i in posts %}
            {% if i.is_published == True %}
                <li>
                    <h2>{{ i.title }}</h2>
                    <p>{{ i.content }}</p>
                    <p><a href="{% url 'post' i.id %}"> Читать статью </a></p>
                    {% if not forloop.last %}  <!-- если статья не последняя -->
                    <hr>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</body>
</html>