{% extends 'base.html' %}

{% block content %}
    <!-- <h1 class="title">{{ title }}</h1> -->

    <ul>
        {% for i in posts %}
            {% if i.is_published == True %}
                <li>
                    <h2>{{ i.title }}</h2>
                    <p class="box_content">{{ i.content }}</p>
                    <p class="btn_read"><a href="{% url 'post' i.id %}" class="btn btn-primary"> Читать статью
                    </a></p>
                    {% if not forloop.last %}  <!-- если статья не последняя -->
                    <hr>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}