<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <p>{{ menu }}</p>
    <h1>{{ title }}</h1>

    <ul>
        {% for i in posts %}
            {% if i.is_published == True %}
                <li>
                    <h2>{{ i.title }}</h2>
                    <p>{{ i.content }}</p>
                    <p><a href="{% url 'post' i.id %}"> Читать статью </a></p>
                    {% if not forloop.last %}  <!-- если статья не последняя -->
                    <hr>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</body>
</html>