<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ main_title|default:'Без заголовка' }}</title>  <!-- если нет такой переменной, то подставит значение -->
</head>
<body>
    <p>{{ menu }}</p>
    <p>{{ menu|join:' | ' }}</p>  <!-- добавляет разделитель между элементами коллекции -->
    <p>{{ menu|first }}</p>  <!-- выводит первый элемент коллекции -->
    <p>{{ menu|last }}</p>  <!-- выводит последний элемент коллекции -->
    <p>{{ float }}</p>
    <p>{{ float|add:'50' }}</p>  <!-- используем фильтр add, прибавляем к float целое число, оно округляется -->
    <p>{{ float|divisibleby:'2' }}</p>  <!-- проверяет на кратность указанному числу, преобразует в целое число -->
    <p>{{ list }}</p>
    <p>{{ list|length }}</p>  <!-- определяет длину -->
    <p>{{ list.1 }}</p>
    <p>{{ obj }}</p>
    <p>{{ set }}</p>
    <p>{{ dict }}</p>
    <p>{{ dict.name }}</p>
    <p>{{ 'The Main Page'|slugify }}</p>  <!-- создает слаг, нижний регистр, пробелы меняет на тире -->
    <p>{{ url }}</p>
    <h1>{{ title|capfirst }}</h1>   <!-- преобразует первую букву в заглавную -->
</body>
</html>