.body_style {
    background: #EEF5DB;
    font-family: 'Comic Sans MS';
    color: #4F6367;
}

ul li {  /* все маркированные списки */
    list-style: none;
}

/* ------------------ боковая панель ------------------------- */

.aside_style {  /* общие боковая панель */
    background: #4F6367;
    height: 100vh;
    width: 20%;
    float: left;
    padding: 2.5%;
    border-right: 1px solid #000;
}

aside ul li a {  /* ссылки боковой панели */
    display: block;
    color: #EEF5DB;
    height: 40px;
    text-decoration: none;
    font-size: 20px;
    margin-left: -40px;
}

/* -------------------- верхняя панель ----------------------- */

.main_line_style {  /* общие у верхней панели */
    background: #FE5F55;
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.a_main_line_style {  /* ссылки на верхней панели */
    text-decoration: none;
    font-size: 25px;
    color: #EEF5DB;
    padding: 7%;
    margin-left: 80px;
}

.about_main_line_style {  /* ссылка "Обо мне" на верхней панели */
    text-decoration: none;
    font-size: 25px;
    color: #EEF5DB;
    margin-left: 20px;
}

img {  /* лого в верхней панели */
    float: top;
    width: 60px;
    margin-left: 50px;
}

/* -------------------- центральное пространство ----------------------- */

.main_block_style {
    width: 1000px;
    padding: 2%;
    margin-left: 20%;
}

/* ------------------------------------------- */