<!-- наследуем код из определенного файла -->
{% extends 'main/layout.html' %}

<!-- блок заголовка -->
{% block title %} Create note {% endblock %}

<!-- блок тела файла -->
{% block content %}
    <div class="features">
        <h1>Create</h1>

        <form method="post" action="" class="create_articles">  <!-- пустой action, обработка события будет на этой
         же странице -->
            {% csrf_token %}  <!-- токен безопасной передачи данных, копируем со страницы с ошибкой -->

            {{ form.title }}<br>  <!-- передаем наш объект из шаблонизатора в файле views.py -->
            {{ form.anons }}<br>
            {{ form.full_text }}<br>
            {{ form.date }}<br>
            {{ error }}  <!-- блок для вывода ошибки, если форма заполнена неверно -->

            <button class="btn btn-success" type="submit"> Add note </button>  <!-- кнопка отправки данных -->
        </form>
    </div>
{% endblock %}


